body{
    background-color: grey;
}
.head{
    background-color: #5200FF;
    position: absolute;
    left: 200px;
    width: calc(100% - 200px);
    height: 100px;
    
}

h1{
    font-size: 80px;
    font-family: kalam;
    padding: 10px;
}
.container{
    background-color: #E4DEDE;
    position: fixed;
    height: 100%;
    width: 200px;
    padding: 20px;
    margin: 0px;
}
.container .img ion-icon{
    font-size: 150px; 
}

a{
    text-decoration: none;
    color: black;
    background-color: #C4C4C4;
}
.container a{
    display: block;
    width: 100%;
    height: 30px;
    padding: 3px;
    margin-bottom: 10px;
}
a:hover{
    background-color: #786F6F;
    color: black;
}
.tbl .txt{
    padding-left: 200px;
    padding-top: 100px;
    font-size: 20px;
    font-family: lexend;
}

.tbl .sm{
    text-align: center;
    font-size: 100px;
}
